<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dealspok.dealspok">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBrlwKev72JMLRQzv0iJgZ62t-AztlSoTs"/>
        <!--<meta-data-->
            <!--android:name="com.google.android.maps.v2.API_KEY"-->
            <!--android:value="AIzaSyCnEXKge_M54dyLyIkkBXgWzetKIFUUE1s" />-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:allowBackup="true"
            android:name=".MainActivity"
            android:label="Deals"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:allowBackup="true"
            android:name=".SubscribeActivity"
            android:label="Abo Buchen"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:allowBackup="true"
            android:name=".AboutActivity"
            android:label="Über Uns"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:allowBackup="true"
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:allowBackup="true"
            android:name=".ShopActivity"
            android:label="Shop"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:allowBackup="true"
            android:name=".AddShopActivity"
            android:label="Add Shop"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".GooglePlacesAutocompleteActivity"></activity>
        <activity
            android:name=".LocationManual"></activity>
        <activity
            android:name=".DealsDetail"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>